<form class="form comment-form">

  <div>
    <label for="post-comment">Comment:</label>
    <input type="text" id="post-comment" />
  </div>

  <div>
    <button type="submit">Submit Comment</button>
  </div>

</form>