<h1>testing big sexy</h1>

<div>
    <form>
        <label>Enter meal name</label>
        <input>
    </form>

    <form>
        <label>Enter ingredients</label>
        <input></input>
    </form>

    <form>
        <label>Enter directions</label>
        <input></input>
    </form>

    <form>
        <label>Enter user_id</label>
        <input></input>
    </form>
</div>

<div>


</div>