<h1>Hello, world!</h1>
<p>{{{title}}}</p>
<h1>testing big sexy</h1>

<div>
  <form>
    <label>Enter meal name</label>
    <input id="meal" type="text" placeholder="enter meal name" />

    <label>Enter ingredients</label>
    <input id="ingredients" type="text" placeholder="enter ingredients" />

    <label>Enter directions</label>
    <input id="directions" type="text" placeholder="enter directions" />
    <button>Submit</button>
  </form>
</div>