<h1>Hello, world!</h1>
<p>{{{title}}}</p>
<h1>testing big sexy</h1>

<div>
    <form>
        <label>Enter meal name</label>
        <input>
        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
    </form>

    <label>Enter ingredients</label>
    <input id="ingredients" type="text" placeholder="enter ingredients" />

    <form>
        <label>Enter directions</label>
        <input></input>
    </form>

    <form>
        <label>Enter user_id</label>
        <input>
        <button>Submit</button>
    </form>
</div>

<div>
<ol class="post-list">
    <li>
        <div class="title">
            <a href=""{}></a>
        </div>
    </li>
</ol>

</div>
